[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
torch = "==1.3.0.post2"
torchvision = "==0.4.1.post2"
urllib3 = ">=1.24.2"
boto3 = "==1.10.8"
pandas = "==0.25.3"
pillow = "==6.2.1"
attrs = "==19.3.0"
enum-compat = "==0.0.3"
botocore = "==1.13.8"
numpy = "==1.17.3"
chalice = "*"

[requires]
python_version = "3.7"
